<template>
  <v-card
    class="mx-4 mb-4"
  >
    <v-img
      :src="`/img/company/${image}-image.png`"
      height="169px"
    ></v-img>

    <div class="d-flex align-center px-5">
      <div>
        <v-avatar class="elevation-2">
          <img
            :src="`/img/company/${image}-icon.png`"
            alt="John"
            height="90"
            width="90"
          />
        </v-avatar>
      </div>
      <div>
        <v-card-title>
          <div>{{ title }}</div>
        </v-card-title>
        <v-card-text>
          <div>{{ text }}</div>
        </v-card-text>
      </div>
    </div>

    <div class="d-flex justify-center ">
      <v-btn text color="#2196F3">
        anschauen & bewerben
      </v-btn>
    </div>
  </v-card>
</template>

<script>
  export default {
    props: {
      image: { type: String, required: true },
      icon: { type: String, required: true },
      title: { type: String, required: true },
      text: { type: String, required: true },
    },
  };
</script>

<style lang="scss" scoped>

</style>
