<template>
  <v-footer
    dark
    padless
  >
    <v-row>
      <v-col cols="12" class="px-6" style="background-color: #455A64;">
        <v-container>
          <div class="d-flex flex-column flex-sm-row justify-space-between">
            <div>
              <v-container>
                Social Media

                <v-list color="#455A64" dense>
                  <v-list-item-group>
                    <v-list-item v-for="(item, i) in socialItems" :key="i">
                      <v-icon class="mr-2">
                        mdi-{{ item.social }}
                      </v-icon> {{ item.title }}
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-container>
            </div>
            <div>
              <v-container>
                Unternehmen

                <v-list color="#455A64" dense>
                  <v-list-item-group>
                    <v-list-item v-for="(item, i) in companyItems" :key="i">
                      {{ item.title }}
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-container>
            </div>
            <div>
              <v-container>
                Legal

                <v-list color="#455A64" dense>
                  <v-list-item-group>
                    <v-list-item v-for="(item, i) in legalItems" :key="i">
                      {{ item.title }}
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-container>
            </div>
          </div>
        </v-container>
      </v-col>
      <v-col cols="12" class="d-flex justify-space-between px-6" style="background-color: #37474F;">
        <div>Made with <v-icon>mdi-heart</v-icon> & <v-icon>mdi-coffee</v-icon></div>
        <div>©TEMPI</div>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
  export default {
    data: () => ({
      socialItems: [
        { social: 'facebook', title: 'Facebook', link: '' },
        { social: 'google', title: 'Google', link: '' },
        { social: 'twitter', title: 'Twitter', link: '' },

      ],
      legalItems: [
        { title: 'Cookie-Richtlinie', link: '' },
        { title: 'Urheberrechtsrichtlinie', link: '' },
        { title: 'Datenschutzrichtlinie', link: '' },

      ],
      companyItems: [
        { title: 'Jobs', link: '' },
        { title: 'Blog', link: '' },
        { title: 'Investor', link: '' },
        { title: 'Kontaktiere uns', link: '' },
      ],
    }),
  };
</script>
