<template>
  <div class="header d-flex align-center px-7">
    <div class="header-logo">
      <TempiLogo></TempiLogo>
    </div>

    <v-spacer></v-spacer>
    <div class="header-login">
      Login
    </div>
  </div>
</template>

<script>
  import TempiLogo from '@/static/logo/tempi-logo-white.svg';
  export default {
    components: {
      TempiLogo,
    },
  };
</script>

<style lang="scss" scoped>
.header {
  background-color: #37474F;
height: 64px;
}

.header-logo {
  transform: scale(0.7);
  margin-top: 4px;
}
.header-login {
color: white;
font-size: 14px;
}
</style>
