<template>
  <v-app>
    <TheHeader></TheHeader>
    <v-content class="pa-0">
      <v-container class="pa-0" fluid>
        <nuxt></nuxt>
      </v-container>
      <TheFooter></TheFooter>
    </v-content>
  </v-app>
</template>

<script>
  import TheHeader from '@/components/TheHeader';
  import TheFooter from '@/components/TheFooter';
  export default {
    components: {
      TheFooter,
      TheHeader,
    },
    data() {
      return {
        clipped: false,
        drawer: false,
        fixed: false,
        items: [
          {
            icon: 'mdi-apps',
            title: 'Welcome',
            to: '/',
          },
          {
            icon: 'mdi-chart-bubble',
            title: 'Inspire',
            to: '/inspire',
          },
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Vuetify.js',
      };
    },
  };
</script>

<style lang="scss">
.theme--dark.v-btn.v-btn--icon {
  color: black !important;
}
</style>
