<template>
  <div>
    <div class="d-flex align-start align-md-center intro pa-4 mb-5">
      <v-row>
        <v-col class="d-flex justify-center justify-md-end align-center" cols="12" md="6">
          <div>
            <div style="font-size: 56px; font-weight: bold; color: white;text-shadow: 2px 2px 2px #000000;">
              Deine Webseite für Jobs
            </div>

            <v-container class="text-center d-flex flex-column intro-carousel elevation-5 pa-8">
              <v-carousel
                style="max-width: 620px"
                cycle
                height="400"
                hide-delimiter-background
                show-arrows-on-hover
              >
                <v-carousel-item
                  v-for="(item, i) in reviews"
                  :key="i"
                >
                  <v-sheet
                    height="100%"
                    style="background-color: unset; color: black;"
                  >
                    <v-row
                      class="fill-height"
                      align="center"
                      justify="center"
                    >
                      <div class="d-flex flex-column" style="color: #546E7A;font-size: 16px;">
                        <div class="d-flex justify-center mb-10">
                          <div style="position: relative;">
                            <v-avatar class="elevation-2" :class="(item.icon === '' ? 'no-logo-logo' : 'yes-logo-logo')">
                              <img
                                :src="`/img/reviews/logo-${item.icon}.png`"
                                alt="John"
                              />
                            </v-avatar>
                            <v-avatar class="elevation-2" :class="(item.icon === '' ? 'no-logo-avatar' : 'yes-logo-avatar')">
                              <img
                                :class="(item.icon === '' ? 'no-logo-avatar-img' : '')"
                                :src="`/img/reviews/${item.avatar}.png`"
                                alt="John"
                                style=""
                              />
                            </v-avatar>
                          </div>
                        </div>
                        <div style="font-weight: bold; font-size: 24px; font-style: italic;">
                          {{ item.name }}
                        </div>
                        <div class="mb-4">
                          {{ item.company }}
                        </div>
                        <div>{{ item.message }}</div>
                      </div>
                    </v-row>
                  </v-sheet>
                </v-carousel-item>
              </v-carousel>
            </v-container>
          </div>
        </v-col>
        <v-col class="d-flex  align-self-center justify-center" cols="12" md="6">
          <div>
            <div class="text-center intro-login elevation-2 pa-6">
              <div class="intro-login-header">
                Ich möchte mich jetzt kostenlos registrieren
              </div>
              <div class="intro-login-subheader">
                Registrieren Sie sich mit Ihrem Social Media Konto an.
              </div>

              <v-btn block class="mb-5">
                <v-icon>mdi-google</v-icon> mit google registrieren
              </v-btn>

              <v-btn block class="mb-5">
                <v-icon>mdi-facebook</v-icon> mit fACEBOOK registrieren
              </v-btn>

              <div class="intro-login-notes">
                oder registrieren Sie sich mit Ihrer E-Mail-Adresse an.
              </div>

              <div>
                <v-text-field
                  id="id"
                  name="name"
                  label="Vorname"
                ></v-text-field>
                <v-text-field
                  id="id"
                  name="name"
                  label="Familienname"
                ></v-text-field>
                <v-text-field
                  id="id"
                  name="name"
                  label="Private E-Mail-Adresse"
                ></v-text-field>
              </div>
              <div class="intro-login-subnotes">
                Sie erklären sich mit der Nutzervereinbarung, der Datenschutzrichtlinie und der Cookie-Richtlinie von TEMPI einverstanden.
              </div>
            </div>
            <div class="intro-login-action text-center px-6 py-3">
              <v-btn block class="mb-5 info">
                Kostenlos Registrieren
              </v-btn>
              <div>
                überspringen
              </div>
            </div>
          </div>
        </v-col>
      </v-row>
    </div>

    <v-row class="d-flex justify-center">
      <v-col v-for="(item, i) in companyList" :key="i" class="md-offset" cols="12" md="10">
        <CompanyCard
          :title="item.title"
          :text="item.text"
          :image="item.shortname"
          :icon="item.shortname"
        ></CompanyCard>
      </v-col>

      <v-col class="pa-6" cols="12" offset-md="0" md="10">
        <v-btn block>
          mehr Jobs
        </v-btn>
      </v-col>

      <v-col cols="12" md="10">
        <v-container fluid>
          <div class="d-flex flex-md-row flex-column" style="color: #546E7A; font-size: 15px;">
            <div class="d-flex align-center justify-space-between mx-3 elevation-3" style="flex: 1 1 0px">
              <div class="d-flex flex-column justify-center pa-5">
                <v-container>
                  <Step1></Step1>
                </v-container>

                <div style="font-size: 20px;">
                  {{ steps[0].step }}
                </div>

                <div>{{ steps[0].title }}</div>
              </div>
            </div>

            <div class="d-flex align-center justify-space-between mx-3 elevation-3" style="flex: 1 1 0px">
              <div class="d-flex flex-column justify-center pa-5">
                <v-container>
                  <Step2></Step2>
                </v-container>

                <div style="font-size: 20px;">
                  {{ steps[1].step }}
                </div>

                <div>{{ steps[1].title }}</div>
              </div>
            </div>

            <div class="d-flex align-center justify-space-between mx-3 elevation-3" style="flex: 1 1 0px">
              <div class="d-flex flex-column justify-center pa-5">
                <v-container>
                  <Step3></Step3>
                </v-container>

                <div style="font-size: 20px;">
                  {{ steps[2].step }}
                </div>

                <div>{{ steps[2].title }}</div>
              </div>
            </div>
          </div>
        </v-container>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  import CompanyCard from '@/components/CompanyCard';

  import Step1 from '@/static/img/steps/1.svg';
  import Step2 from '@/static/img/steps/2.svg';
  import Step3 from '@/static/img/steps/3.svg';

  export default {
    components: {
      CompanyCard,
      Step1,
      Step2,
      Step3,
    },

    data() {
      return {
        steps: [
          {
            step: 'Schritt 1',
            icon: '1',
            title: 'Erstellen Sie Ihr Profil',
          },
          {
            step: 'Schritt 2',
            icon: '2',
            title: 'Lassen Sie sich finden oder suche den passenden Job',
          },
          {
            step: 'Schritt 3',
            icon: '3',
            title: 'Bewerben Sie sich mit einem Klick',
          },
        ],
        reviews: [
          {
            company: 'Gesamtschulleitung Pestalozzi Schulen',
            name: 'Robert Mosser-Waller ',
            icon: '1',
            avatar: '1',
            message: 'Dank Tempi können wir schnell und gezielt Mitarbeiter akquirieren.',
          },
          {
            company: 'Arbeitnehmer',
            name: 'Gianluca F.',
            icon: '',
            avatar: '2',
            message: 'Einen neuen Job auf Tempi zu finden war für mich sehr einfach.',
          },
          {
            company: 'Brandschutz Consulting',
            name: 'Markus H. ',
            icon: '3',
            avatar: '3',
            message: 'Tempi ermöglicht uns eine schnelle und einfache Abwicklung auf der Suche nach neuen Mitarbeiter.',
          },

        ],
        companyList: [
          { title: 'McDonald\'s', text: '﻿8105 Regensdorf', shortname: 'mcdo' },
          { title: 'LIPO Einrichtungsmärkte AG', text: '4133 Pratteln', shortname: 'lipo' },
          { title: 'ISS Facility Services AG', text: '4126 Bettingen', shortname: 'iss' },
        ],
      };
    },
  };
</script>

<style lang="scss">

.no-logo-logo {

  position: absolute;  z-index: 5;  bottom: -30px; left: -50px; height: 60px;width: 60px;
  display: none;
}

.no-logo-avatar {

  position: absolute; z-index: 2; bottom: -10px; left: -25px; height: 90px;width: 90px; background-color: white;
}

.yes-logo-logo {

   position: absolute; z-index: 2; bottom: -10px; left: -25px;
   height: 90px !important;
   width: 90px !important;
   background-color: white;
}

.yes-logo-avatar {

   position: absolute;  z-index: 5;  bottom: -30px; left: -50px;
   height: 60px !important;
   width: 60px !important;
}

.no-logo-avatar-img {
  height: 90px !important;
  width: 90px !important;
}
.intro {
  background-image: url('/img/intro-bg.png');
  background-size: cover;
  background-position: center;
  // height: 100vh;
}

.intro-login {
  max-width: 360px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 4px 4px 0 0;
   color: #546E7A;
}

.intro-carousel {
max-width: 614px;
background-color: rgba(255,255,255,0.8);
border-radius: 4px;
max-height: 482px;

}

.intro-login-header{ font-size: 24px; margin-bottom: 15px;}
.intro-login-subheader{ font-size: 16px;margin-bottom: 20px;}
.intro-login-google, .intro-login-facebook{
  font-size: 14px;
  background-color: #F5F5F5;
  padding: 6px 0;
  border-radius: 4px;
  margin-bottom: 4px;
  text-transform: uppercase;
  margin-bottom: 20px;
  cursor: pointer;
  }

.intro-login-notes{font-size: 16px;}

.intro-login-subnotes{font-size: 12px;}

.intro-login-action {
   max-width: 360px;
  background-color: white;
  border-radius: 0 0 4px 4px;

   color: #546E7A;
}

.intro-login-button {
  font-size: 14px;
  cursor: pointer;
  background-color: #2196F3;
  color: #FFFFFF;
  padding: 6px 0;
  border-radius: 4px;
  margin-bottom: 4px;
  text-transform: uppercase;
  margin-bottom: 20px;
  }

</style>
